$primaryColor: #ff005d;
$secondaryColor: #ffd900;
$tertiaryColor: #fff;
$whiteColor: #fff;
$blackColor: #000000;
$lightColor: #bbb;
$darkColor: #323232;
$deepBrown: #352c2f;
$green: #237839;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

::selection{
    background-color: $primaryColor;
    color: $secondaryColor;
}

::-webkit-scrollbar{
    width: 0px;
}

button{
    cursor: pointer;

    &:disabled{
        cursor: not-allowed;
    }
}

p{
    font-size: 16px;
    font-weight: 500;
}

body{
    font-size: 16px;
    color: $blackColor;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#__next{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: $darkColor;
}

.clear-btn{
    background-color: #0009;
    z-index: 30;
    backdrop-filter: blur(10px);
    border-radius: 1000px;
    display: flex;
    justify-content: flex-start;
    width: 43px;
    overflow-x: hidden;
    svg{
        position: absolute;
        color: #fff;
        right: 15px;
    }
    height: 43px;
    padding: 10px 15px;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    position: relative;
    border: none;
    color: #fff0;
    cursor: pointer;
    transition: all 0.5s ease, color 0.1s linear;

    &.invalid{
        width: fit-content !important;
        color: #fff;
        padding-right: 7px;

        span{
            font-size: 12px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff1;
            border-radius: 1000px;
            border: 1px solid #fff1;
        }
    }
    
    &:hover, &:focus{
        width: 100px;
        color: #fff;
        transition: all 0.5s ease, color 0.5s linear;
    }
}

.clear-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    transform: translateY(50px);
}

.big-image{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($darkColor, 0.2);
    backdrop-filter: blur(20px);
    z-index: 100;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    color: #fff;
    background-size: 60%;
    justify-content: center;
    align-items: center;

    .image-info{
        position: absolute;
        top: 20px;
        left: 20px;
        height: 40px;
        padding-bottom: 4px;
        border-bottom: 1px solid $primaryColor;
        font-size: 18px;
    }

    .img{
        position: absolute;
        width: 80%;
        max-height: 500px;
        max-width: 500px;
        background-color: #fff1;
        border: 1px solid #fff1;
        border-radius: 30px;
        object-fit: cover;
        object-position: center;
        animation: scale-in 0.3s ease forwards;

        @keyframes scale-in {
            0%{
                transform: scale(0.6);
                opacity: 0;
            }
        }
    }

    .close-btn{
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        border: 1px solid $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff0;
        color: $primaryColor;
        transition: all 0.5s ease;

        &:hover{
            cursor: pointer;
            background-color: rgba($primaryColor, 0.1);
            transform: rotate(360deg);
        }
    }

    .invalid{
        position: fixed;
        text-align: center;
        color: #fffa;
    }


    .remove-btn{
        position: fixed;
        bottom: 30px;
        padding: 10px 20px;
        font-weight: 600;
        border-radius: 100px;
        border: none;
        background-color: $primaryColor;
        color: $whiteColor;
        transition: all 0.5s ease;

        &:hover{
            transform: scale(1.05);
        }
    }

    @media screen and (max-width: 700px) {
        .img{
            width: 300px;
            height: 300px;
        }
    }

}

.page{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $darkColor;
    background-image: linear-gradient(135deg, #fff0, rgba(255, 0, 76, 0.07), rgba(255, 217, 0, 0));
}

.top-el{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 2000;
    background-color: rgba($whiteColor, 0.05);
    pointer-events: none;
    display: none;
}

@media screen and (max-width: 600px) {
    .top-el{
        display: flex;
    }
}

.header{
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $whiteColor;
    padding: 10px 24px;

    .hamburger{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
        cursor: pointer;
    }

    .right{
        display: flex;
        align-items: center;
        gap: 10px;

        .current-bucket{
            background-color: #fff1;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
            border: 1px solid #fff1;
            border-radius: 1000px;
            font-size: 14px;
            opacity: 0.5;
            transition: all 0.3s ease;
            z-index: 20;
            position: relative;
            overflow: hidden;

            &::before{
                content: "";
                position: absolute;
                left: -60px;
                height: calc(100% + 40px);
                background-color: #fff3;
                filter: blur(20px);
                width: 20px;
            }

            &:hover{
                transform: scale(1.1);
                opacity: 1;
                cursor: pointer;
            
                &::before{
                    transition: all 2s ease;
                    left: calc(100% + 60px);
                }
            }
            
            @media screen and (max-width: 700px) {
                font-size: 12px;
            }
        }
    }

    .left{
        font-size: 35px;
        font-weight: 800;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-color: gold;
        background-image: linear-gradient(135deg, rgba(255, 0, 119, 0.884), rgba(255, 217, 0, 0.8), rgba(255, 0, 119, 0.884), rgba(255, 217, 0, 0.8));
        background-size: 400%;
        background-position: left;
        transition: all 0.4s ease;
        animation: move-logo 20s linear forwards infinite;

        @keyframes move-logo {
            0%{
                background-position: left;
            }
            100%{
                background-position: right;
            }
        }

         @media screen and (max-width: 600px) {
            font-size: 26px;
         }
    }
}

.links-holder{
    position: fixed;
    bottom: 30px;
    padding: 5px 5px;
    border-radius: 100px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff1;
    border: 1px solid #fff1;
    z-index: 20;

    a{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        color: $whiteColor;
        transition: all 0.3s ease;
        border: 1px solid #fff0;
        
        &:hover, &:active{
            background-color: #fff1;
            border: 1px solid #fff1;
        }
    }
}

.upload-holder{
    position: fixed;
    height: calc(100% - 200px);
    bottom: 90px;
    max-width: calc(100% - 48px);
    padding: 0;
    max-height: 1000px;
    color: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // max-width: 1000px;
    width: fit-content !important;
    transition: all 0.4s ease;

    h1{
        max-width: 700px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;

        &::before{
            content: "";
            position: absolute;
            bottom: -20px;
            width: 15px;
            height: 15px;
            border: 1px solid #fff1;
            transform: rotate(45deg);
            background-color: rgba(255, 246, 219, 0.067);
        }
    }
    
    .dropzone, .images-container{
        max-width: 400px;
        width: 100%;
        height: fit-content;
        margin-top: 50px;
        padding: 20px;
        min-height: 200px;
        border-radius: 30px;
        border: 1px solid #fff1;
        background-color: #fff1;
        backdrop-filter: blur(100px);
        overflow-y: scroll;
        transition: all 0.4s ease;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &.active{
            transform: scale(1.05);
            color: #fff9;
        }

        p{
            position: relative;
        }

        &.images-container{
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: scroll;
            padding: 20px 15px;
            padding-bottom: 50px !important;
            gap: 15px;
            min-height: fit-content;
            width: fit-content !important;
            cursor: default;

            .image-element{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                min-width: 100px;
                height: 100px;
                border-radius: 20px;
                box-shadow: 0px 0px 0px 1px #fff1;
                cursor: zoom-in;
                transition: all 0.3s ease;
                background-color: rgba($whiteColor, 0.03);
                animation: show-image 0.3s ease forwards;
                opacity: 0;
                margin: 0;

                &.big{
                    z-index: 100;
                }

                @keyframes show-image {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }

                .remove-button{
                    border-radius: 20px;
                    opacity: 0;
                    transition: all 0.5s ease;
                    pointer-events: none;
                    
                    @media screen and (max-width: 600px) {
                        display: none;
                    }
                }

                .invalid-overlay{
                    background-color: $primaryColor;
                    border-radius: inherit;
                    font-size: 14px;
                    padding: 10px;
                }

                .image-info{
                    border-radius: 20px;
                    padding: 5px 10px;
                    pointer-events: none;
                    backdrop-filter: blur(10px);
                    p{
                        font-size: 12px;
                    }
                }

                .image-info{
                    bottom: 10px;
                    opacity: 0;
                    transition: all 0.2s ease;

                    p{
                        font-size: 10px;
                    }
                }

                &:hover{
                    z-index: 20;
                    .image-info{
                        opacity: 1;
                        bottom: -20px;
                    }
                }

                &:hover{
                    transform: scale(1.05);

                    .remove-button{
                        opacity: 1;
                        transform: scale(1) rotate(360deg);
                        pointer-events: all;
                    }
                }
            }

            @media screen and (max-width: 1000px) {
                .image-element{
                    width: 100px;
                    min-width: 100px;
                    height: 100px;

                    .image-info{
                        bottom: 10px;
                        opacity: 0;
                        transition: all 0.2s ease;
                        min-width: max-content;

                        p{
                            font-size: 10px;
                        }
                    }

                    &:hover{
                        z-index: 20;
                        .image-info{
                            opacity: 1;
                            bottom: -20px;
                        }
                    }
                }
            }

            @media screen and (max-width: 800px) {
                gap: 15px;
                padding: 20px 10px;
                .image-element{
                    width: 80px;
                    min-width: 80px;
                    height: 80px;
                    margin: 0;

                    
                }
            }

            @media screen and (max-width: 600px) {
                gap: 15px;
                padding: 20px 10px;
                display: grid;
                max-width: 100%;
                grid-template-columns: repeat(4, 1fr);
                .image-element{
                    width: 80px;
                    min-width: 80px;
                    height: 80px;
                    margin: 0;

                    .remove-button{
                        top: 5px !important;
                        right: 5px !important;
                    }

                    .image-info{
                        bottom: 10px;
                        opacity: 0;
                        transition: all 0.2s ease;

                        p{
                            font-size: 10px;
                        }
                    }

                    &:hover{
                        z-index: 20;
                        .image-info{
                            opacity: 1;
                            bottom: -20px;
                        }
                    }
                }
            }
            
            @media screen and (max-width: 500px) {
                gap: 10px;
                padding: 20px 15px;
                display: grid;
                max-width: 100%;
                overflow-x: scroll;
                grid-template-columns: repeat(4, 1fr);
                justify-content: flex-start;
                align-items: flex-start;
                .image-element{
                    width: 75px;
                    min-width: 75px;
                    height: 75px;
                    margin: 0;

                    .image-info{
                        bottom: 10px;
                        opacity: 0;
                        transition: all 0.2s ease;

                        p{
                            font-size: 10px;
                        }
                    }

                    &:hover{
                        z-index: 20;
                        .image-info{
                            opacity: 1;
                            bottom: -20px;
                        }
                    }
                }
            }

            @media screen and (max-width: 405px) {
                gap: 10px;
                padding: 20px 15px;
                display: grid;
                max-width: 100%;
                overflow-x: scroll;
                grid-template-columns: repeat(3, 1fr);
                justify-content: flex-start;
                align-items: flex-start;
                .image-element{
                    width: 90px;
                    min-width: 90px;
                    height: 90px;
                    margin: 0;

                    .image-info{
                        bottom: 10px;
                        opacity: 0;
                        transition: all 0.2s ease;

                        p{
                            font-size: 10px;
                        }
                    }

                    

                    &:hover{
                        z-index: 20;
                        .image-info{
                            opacity: 1;
                            bottom: -20px;
                        }
                    }
                }
            }
        }
    }

    .upload-btn{
        padding: 10px 20px;
        border: none;
        border-radius: 100px;
        min-height: 50px;
        font-weight: 600;
        font-size: 18px;
        margin-top: -25px;
        z-index: 3;
        background-color: #fff2;
        backdrop-filter: blur(10px);
        border: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: $primaryColor;
        background-image: linear-gradient(135deg, $primaryColor 30%, rgba($secondaryColor, 0.7));
        transition: all 0.3s ease;

        &:disabled{
            background: #fff4;
            cursor: not-allowed;
        }

        &:hover{
            transform: scale(1.05);
        }
    }

    @media screen and (max-width: 800px) {
        h1{
            font-size: 30px;
        }
    }

    .loader{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: 100%;
        font-weight: 600;
        background-color: rgba($darkColor, 0.2);
        z-index: 10;
        backdrop-filter: blur(10px);
        pointer-events: all;

        .spinner{
            width: 50px;
            height: 50px;
            border-radius: 1000px;
            border: 0px solid #fff2;
            border-top: 2px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: spinner-spin 0.3s linear forwards infinite;

            @keyframes spinner-spin {
                0%{
                    transform: rotate(-720deg);
                }
            }
        }

        .icon{
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background-color: #fff1;
            border: 1px solid #fff1;
            font-size: 20px;
            margin: 30px 0;
        }

        button{
            padding: 10px 20px;
            background-color: $primaryColor;
            border-radius: 100px;
            border: none;
            color: $whiteColor;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover, &:focus{
                transform: scale(1.05);
            }
        }
    }

    &.uploading{
        pointer-events: all;
        cursor: not-allowed;

        .images-container{
            opacity: 0.3;
        }

        button{
            opacity: 0;
            transform: scale(0);
        }

        *{
            pointer-events: none;
        }
    }
}

.menu{
    background-color: rgba($darkColor, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90;
    backdrop-filter: blur(20px);
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    
    &.show{
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
}

.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($blackColor, 0.4);
    z-index: 11999;
    // backdrop-filter: blur(2px);
}

.popup-menu{
    position: fixed;
    z-index: 12000;
    padding: 20px;
    background-color: #fff1;
    border: 1px solid #fff1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    transition: all 0.2s ease;
    animation: show-popup 0.3s ease forwards;

    @keyframes show-popup {
        0%{
            transform: scale(0.8);
            opacity: 0;
        }
    }

    .close-btn{
        position: fixed;
        left: 10px;
        top: -10px;
        width: 20px;
        height: 20px;
        border-radius: 1000px;
        border: 1px solid #fff1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: rgba($deepBrown, 0.85);
        backdrop-filter: blur(100px);
        transition: all 0.5s ease;
        display: none;

        &:hover, &:focus{
            transform: rotate(360deg);
        }
    }

    .btn-holder{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .refresh-btn{
            padding: 5px 10px;
            background-color: #fff1;
            border: none;
            border-radius: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            border: 1px solid #fff1;
            transition: all 0.2s ease;
            cursor: pointer;

            &:hover, &:focus{
                background-color: #fff2;
            }
        }
    }
}

.notifications-holder{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 30px;
    z-index: 10000;
    width: 100%;
    gap: 10px;

    .notification{
        padding: 10px;
        padding-right: 20px;
        background-color: rgba($whiteColor, 0.03);
        color: #fff;
        border: 1px solid #fff1;
        border-radius: 200px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        gap: 10px;
        transition: all 0.2s ease;
        width: 250px;

        &::before{
            content: "";
            position: absolute;
            height: calc(100% + 20px);
            width: 20px;
            background-color: #fff5;
            filter: blur(20px);
            left: -60px;
        }

        &:hover{
            transition: all 1s ease;
            transform: scale(1.05) translateX(-20px);
            &::before{
                transition: all 2s ease;
                left: calc(100% + 40px);
            }
        }

        span{
            font-weight: 600;
            padding: 5px 10px;
            min-width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            border: 1px solid #fff1;
            background-color: #fff1;
        }

        &.error{
            background-color: rgb(174, 19, 19);
            color: #fff;
            font-size: 14px;

        }

        &.success{
            background-color: rgba($green, 1);
            color: #fff;
        }
    }
}